# code-generator-api
code-generator-api/.idea_modules/
code-generator-api/.idea/
code-generator-api/target/
code-generator-api/document/log/
code-generator-api/document/upload/
code-generator-api/src/main/docker/*.jar

# code-generator-web
code-generator-web/node_modules/
code-generator-web/dist/

.idea

*.log
*.iml
*.iws
*.ipr
